ul {
    list-style: none;
    margin-block-start: 0;
    padding-inline-start: 0;
}
.chat-container{
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
    ::-webkit-scrollbar {
        display: none;
    }
    #main-message {
        height: 100vh;
        overflow: scroll;
        overflow-x: hidden;
        padding-bottom: 80px;
        ::-webkit-scrollbar-track {
            background-color: rgba(0, 0, 0, .1);
        }
    }
    .form-chat {
        position: fixed;
        background-color:white;
        padding: 20px;
        bottom: 0px;
        width: 100%;
        height: 36px;
        #message {
            position: fixed;
            background-color: white ;
            bottom: 30px;
            border: 1px solid rgba(0, 0, 0, .3) ;
            padding: 5px 20px;
            width: 73%;
            border-radius: 25px; 
        }
        input:focus {
            outline: none;
        }
    }
    .messages {
        margin: 10px;
        padding-left: 20px;
        display: flex;
        flex-direction: row;
        &:nth-child(2) {
            padding-top: 60px;
        }
        .avatar-message {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background-position: 50% 50%;
            background-size: cover;
            background-repeat: no-repeat;
        }        
        &.sender {
            flex-direction: row-reverse;
            color: white;
            margin-right: 30px;
            span {
                background-color: #0084ff;
            }
            &:last-child {
                margin-bottom: 0px;
            }
        }
        span {
            padding: 10px;
            background-color: #f1f0f0;
            border-radius: 18px;
            margin-left: 20px;
        }
    } 
    .list-chat-room {
        border-right: 0.5px solid rgba(0, 0, 0, .3);
        height: 100vh;
        padding: 0px;
        background-color: rgba(0, 0, 0, .01);
        overflow: scroll;
        ::-webkit-scrollbar {
            display: none;
        }
    }
    .list-chats {
        margin-top: 30px;
        width: 100%;
        a:focus .chat-block{
            background: rgba(0, 0, 0, .05);
            border-radius: 10px;
        }
    }
    .btn-add-chat-room{
        display: block;
        margin: auto;
        border: none;
        font-weight: 600;
        padding: 10px 30px;
        border-radius: 10px;
        width: 90%;
        background-color: #24292e;
        color: white;
        border: 1px solid #24292e;
        &:focus {
            outline: none;
        };
        &:hover {
            box-shadow: 0px 1px 10px #24292e;
        }
    }
    .wrapper-receiver-info {
        padding: 10px 30px 5px 30px;
        border-bottom : 0.01px solid rgba(0, 0, 0, .1);
        background-color: white;
        position: fixed;
        right: 0;
        width: 75%;

        .receiver-info-avatar {
            display: inline-block;
            width: 40px;
            height: 40px;
            cursor: pointer;
            border-radius: 50%; 
            background-image: url(/images/user_default_avatar.jpg);
            background-position: 50% 50%;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .receiver-info-name {
            display: inline-block;
            position: absolute;
            top: 15px;
            font-weight: 600;
            font-size: 20px;
            margin-left: 20px;
            height: 100%;
        }
        .receiver-info-icon {
            float: right;
            color: rgba(0, 0, 0, .4);
            margin-top: 8px;
            cursor: pointer;
            &:hover::after {
                content: "Thông tin về cuộc trò chuyện";
                font-size: 14px;
                display: block;
                padding: 5px 10px;
                right: 5px;
                position: absolute;
                width: 15%;
                background-color: rgba(0,0,0,.7);
                color: white;
            }
        }
    }
}
.avatar {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%; 
    background-image: url(/images/user_default_avatar.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.user-settings-container {
    border-radius: 10px;
    .user-setting-option {
        font-size: 14px;
        padding: 2px 15px;
        &:hover{
            cursor: pointer;
            padding-left: 20px;;
            background: rgba(0, 0, 0, .4) ;
            transition: all 0.5s;
            color: white;
        }
        input[type="file"]{
            display: none;
        }
    }
}
.popup-small-text {
    padding: 2px 15px;
    font-size: 14px;
    &:hover {
        background-color: rgba(0, 0, 0, .4);
        padding-left: 20px;
        transition: 0.5s all;
        color: white;
        cursor: pointer;
    }
}
.large-text {
    font-size: 25px;
    font-weight: bold;
}
.tools-bar {
    padding: 0px;
    .small-icon {
    cursor: pointer;
    height: 35px;
    width: 35px;
    background-color: rgba(0, 0, 0, .05);
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    i {
        padding-top: 5px;
        padding-left: 5px;
    };

}
}
.search-bar {
    width: 100%;
    margin: 0 25px;
    border: 0.5px solid rgba(0, 0, 0, .3);
    background-color: rgba(0, 0, 0, .04);
    color: rgba(0,0,0,.7);
    padding: 5px;
    border-radius: 10px;
    &:focus {
        outline: none;
    }

}