ul {
    list-style: none;
    margin-block-start: 0;
    padding-inline-start: 0;
}
.chat-container{
    width: 100%;
    height: 100%;
    #main-message {
        height: 92%;
    }
    .form-chat {
        background:white;
        bottom: 0;
        width: 100%;
        height: 36px;
        #message {
            border: 1px solid rgba(0, 0, 0, .3) ;
            padding: 5px 20px;
            width: 100%;
            margin-right: 0.5%;
            margin-bottom: 10px; 
            background-color: rgba(0, 0, 0, .05); 
            border-radius: 25px; 
        }
        input:focus {
            outline: none;
        }
    }
    .messages {
        margin: 10px;
        display: flex;
        flex-direction: row;
        .avatar-message {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-position: 50% 50%;
            background-size: cover;
            background-repeat: no-repeat;
        }        
        &.sender{
            flex-direction: row-reverse;
            color: white;
            margin-right: 30px;
            span {
                background-color: #0084ff;
            }
        }
        span {
            padding: 10px;
            background-color: #f1f0f0;
            border-radius: 10px;
            margin-left: 20px;
        }
    } 
    .list-chat-room {
        border-right: 0.5px solid rgba(0, 0, 0, .3);
        height: 100vh;
    }
    .list-chats {
        margin-top: 30px;
        width: 100%;
        a:focus .chat-block{
            background: rgba(0, 0, 0, .05);
            border-radius: 10px;
        }
    }
    .btn-add-chat-room{
        display: block;
        margin: auto;
        border: none;
        font-weight: 600;
        padding: 10px 30px;
        border-radius: 10px;
        width: 90%;
        background-color: #24292e;
        color: white;
        border: 1px solid #24292e;
        &:focus {
            outline: none;
        };
        &:hover {
            box-shadow: 0px 1px 10px #24292e;
        }
    }
}
.avatar {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: 30px;
    border-radius: 50%; 
    background-image: url(/images/user_default_avatar.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.user-settings-container {
    border-radius: 10px;
    .user-setting-option {
        font-size: 14px;
        padding: 2px 15px;
        &:hover{
            cursor: pointer;
            padding-left: 20px;;
            background: rgba(0, 0, 0, .4) ;
            transition: all 0.5s;
            color: white;
        }
        input[type="file"]{
            display: none;
        }
    }
}
.small-icon {
    cursor: pointer;
}
.popup-small-text {
    padding: 2px 15px;
    font-size: 14px;
    &:hover {
        background-color: rgba(0, 0, 0, .4);
        padding-left: 20px;
        transition: 0.5s all;
        color: white;
        cursor: pointer;
    }
}
.large-text {
    font-size: 25px;
    font-weight: bold;
}