.chat-block {
    height: 64px;
    cursor: pointer;
    margin: 1px 15px !important;
    &:hover {
        background: rgba(0, 0, 0, .05);
        border-radius: 10px;
    }
    &.active {
        background: rgba(0, 0, 0, .05);
        border-radius: 10px;
    }
}
.chat-block-avatar {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-top: 7px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url(('/images/chat_room_default_icon.jpg')) ;
}
.chat-block-name {
    color: rgba(0, 0, 0, 1) ;
    padding-top: 7%;
    font-size: 15px;
    font-weight: 400;
    line-height: 0;
}

@media all and (min-width: 320px) {
    .chat-block {
        margin: 0px !important;
        .col-9 {
            display: none;
        }
        .chat-block-name {
            display: none;
        } 
        .chat-block-avatar {
            margin-left: auto;
            margin-right: auto;
        } 
    }
}

@media all and (min-width: 600px) {
    .chat-block {
        .col-3 {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .chat-block-avatar {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

@media all and (min-width: 1024px) {
    
}
 
@media all and (min-width: 1280px) {
    
}

@media all and (min-width: 1500px) {
    .talk-text {
        display: block;
    }
    
}

@media all and (min-width: 1920px) {
}
