body {
    padding-top: 100px;
    color: #212529;
    background-color: #f5f8fc;
    overflow-y: scroll;
}

.py-8 {
    padding: 6rem 0;
}

[data-aos^=zoom][data-aos^=zoom].aos-animate {
    opacity: 1;
    transform: translateZ(0) scale(1);
}

[data-aos][data-aos][data-aos-easing=ease],
body[data-aos-easing=ease] [data-aos] {
    transition-timing-function: ease;
}

[data-aos][data-aos][data-aos-duration="400"],
body[data-aos-duration="400"] [data-aos] {
    transition-duration: .4s
}

[data-aos^=zoom][data-aos^=zoom] {
    opacity: 0;
    transition-property: opacity,transform;
    &.aos-animate {
        opacity: 1;
        transform: translateZ(0) scale(1);
    }
}