.main-register {
    width: 25%;
    margin: auto;
    padding: 30px;
    margin-top: 10%;
    position: relative;
    border: 2px solid #24292e;
    box-shadow: 0px 5px 10px #24292e;
    border-radius: 10px;
    label {
        font-weight: 600;
    }
}
.btn-register{
    font-weight: 600;
    background-color: #24292e;
    color: white;
    transition: all 0.5s;
    &:hover {
        background-color: white !important; 
        color: #24292e; 
        box-shadow: 0px 1px 10px;
    }
}